
.experiment {
    text-align: right;
    margin-left: 5px;
}

.GG5EBMLCKI {
    column-span: 3;
    height: 100px;
    horiz-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: 6px;
    z-index: 1000;
}

.LEGENDTABLE {
    position: absolute;
    top: 120px;
    width: 200px;
    z-index: 1000;
}

.jscolor {
    width: 110px;
}

.legend {
    height: 32px;
    horiz-align: center;
    vertical-align: middle;
}

.legenddescription {
    column-span: 3;
    width: 170px;
}

.arrowsupdown {
    width: 33px;
}

.arrowsleftright {
    width: 33px;
}

.zoominout {
    width: 50px;
    padding-right: 10px;
}


.ball_legend {
    width: 18px;
    height: 18px;
}

/* contextMenu css style */
.modalspin {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('../image/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modalspin {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalspin {
    display: block;
}

.d3-context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;
    z-index: 1200;
}

.d3-context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.d3-context-menu ul li {
    padding: 4px 16px;
}

.d3-context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
}

table {
    border: 2px;
}

.two-column-div {
    column-count: 2;
}

input[type="radio"] {
    margin-left: 10px;
}

#code {
    width: 120px;
}


